[phases.setup]
nixPkgs = ["nodejs_20", "python311", "ffmpeg", "python311Packages.pip"]

[phases.install]
cmds = [
  "pip install --upgrade yt-dlp",
  "npm install --prefix server"
]

[start]
cmd = "node server/server.js"
